.content-container {
    border-style: solid;
    margin: 60px auto;
    max-width: 60%;
  }

.title {
    display: flex;
    border-style: dashed;
    margin: 10px;
    padding: 5px;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
}

.top-section {
    display: flex;
    flex-wrap: wrap;
    border-style: dashed;
    margin: 10px;
    padding: 5px;
}

.enterTask{
    flex: 100%;
    margin: 5px;
    height: 30px;
    font-size: 18px;
}

.addItem{
    flex: 0 0 130px;
    margin: 5px;
    height: 30px;
    font-size: 18px;
    border-radius: 8px;
}

.list-item {
    border-style: dashed;
    flex: 100%;
    height: 200px;
    margin: 10px;
    padding: 5px;
}


